<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/user-dashboard/category">
      <mat-icon mat-list-icon>category</mat-icon>Categories
    </button>
    <button mat-list-item routerLink="/user-dashboard/allproducts">
      <mat-icon mat-list-icon>inventory_2</mat-icon>Products
    </button>   
    <button mat-list-item routerLink="/user-dashboard/view-wishlist">
      <mat-icon mat-list-icon>view_list</mat-icon>Wishlist
    </button>   
    <button mat-list-item routerLink="/user-dashboard/cart">
      <mat-icon mat-list-icon>add_shopping_cart</mat-icon>Cart
    </button>        
  </mat-action-list>
</mat-card>
