<h1 style="margin-top:20px">Product for {{categoryName}}</h1>
<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12" class="arrange">
      <mat-card class="example-card" *ngFor="let p of products; let i= index " style="margin-top:20px;">
        <mat-card-header class="card-header">
          <mat-card-title>{{ p.productName }}</mat-card-title>
        </mat-card-header>
        <div class="img-wrapper">

          <img mat-card-image src="{{p.image}}">
        </div>
        <mat-card-content>
          <p>
            {{p.productDesc}}
          </p>
          <p>
            <strong>Price: </strong>{{p.productPrice}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="warn" (click)="addToWishlist(p.pid)">Add to Wishlist</button>
          <button mat-stroked-button color="primary" (click)="addToCart(p.pid)">Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
