<h1 style="margin-top:20px">All products</h1>
<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="searchit($event)" placeholder="Search products" >
</div>
<div style="margin-left: 1050px;">
  <button mat-flat-button color="primary" (click)="sort('productPrice')">Sort based on Price</button>
</div>
<div class="bootstrap-wrapper">
  <div class="row">
    <div class="arrange">
      <mat-card class="example-card" *ngFor="let p of products | filter:searchKey:'productName' | orderBy: key: reverse; let i= index " style="margin-top:20px;">
        <mat-card-header class="card-header">
          <mat-card-title>{{ p.productName }}</mat-card-title>
        </mat-card-header>
        <div class="img-wrapper">

          <img mat-card-image src="{{p.image}}">
        </div>
        <mat-card-content>
          <p>
            {{p.productDesc}}
          </p>
          <p>
            <strong>Price: </strong>{{p.productPrice}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="warn" (click)="addToWishlist(p.pid)">Add to Wishlist</button>
          <button mat-stroked-button color="primary" (click)="addToCart(p.pid)">Add to Cart</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
