<mat-card>
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item routerLink="/admin/alluser">
      <mat-icon mat-list-icon>add_circle</mat-icon>Users
    </button>
    <button mat-list-item routerLink="/admin/category">
      <mat-icon mat-list-icon>list</mat-icon>Category
    </button>
    <button mat-list-item routerLink="/admin/add-category">
      <mat-icon mat-list-icon>add_circle</mat-icon> Add Category
    </button>  
    <button mat-list-item routerLink="/admin/file">
      <mat-icon mat-list-icon>file_upload</mat-icon> Bulk upload
    </button>
    <button mat-list-item routerLink="/admin/Product">
      <mat-icon mat-list-icon>inventory_2</mat-icon>Products
    </button> 
    <button mat-list-item routerLink="/admin/addProduct">
      <mat-icon mat-list-icon>add_circle</mat-icon> Add Products
    </button>   
  </mat-action-list>
</mat-card>
